<!-- -------------------- NAV-BAR -------------------- -->
<nav class="navbar navbar-expand-lg bg-azulChambita position-fixed w-100">

    <div class="container">

        <!-- ---------- LOGO ---------- -->
        <a class="navbar-brand" href="#">
            <img class="d-inline-block" src="./assets/img/logos/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <h3 class="text-white chambitaFont d-inline-block">Tu chambita</h3>
        </a>

        <!-- ---------- OPCIONES ---------- -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <button (click)="scroll('descargas')" class="btn text-white" href="#">Descargas</button>
                </li>
                <li class="nav-item">
                    <button (click)="scroll('conocenos')" class="btn text-white" href="#">Conócenos</button>
                </li>
                <li class="nav-item">
                    <button (click)="scroll('contacto')" class="btn text-white" href="#">Contácto</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="espacio"></div>


<!-- -------------------- TU CHAMBITA -------------------- -->
<div id="descargas" class="parallax img-1">
    <div class="container pt-5">
        <div class=" m-0 pt-5">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pt-5 m-auto text-center">

                <h1>Tu Chambita</h1>

                <h5>Trabajos al alcance de tu mano</h5>

                <div class="row pt-5">
                    <!-- ---------- GOOGLE PLAY ---------- -->
                    <div class="col-6 pt-5">
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.tuchambita.app0001">
                            <img class="img-fluid w-75 scale" src="./assets/img/descargas/google_play.png" alt="">
                        </a>
                    </div>
                    <!-- ---------- APP STORE ---------- -->
                    <div class="col-6 pt-5">
                        <a target="_blank" href="https://itunes.apple.com/gb/app/tu-chambita/id1446788984">
                            <img class="img-fluid w-75 scale" src="./assets/img/descargas/app_store.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- -------------------- PRESENTACIÓN -------------------- -->
<div class="container" style="min-height: 250px">

    <div class="row m-0">



        <!-- ---------- ¿TIENES TIEMPO DE HACER UN TRABAJO? ---------- -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center py-4">

            <i class="material-icons icon-desc">
                build
            </i>

            <div class="row py-4">
                <div class="col-12 text-center">
                    <h5 class="pt-4 font-weight-bold">¿Tienes tiempo para hacer una chambita?</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-secondary">
                        <label>
                            ¿Sabes desempeñar una chambita?
                        </label>
                        <label>
                            ¿Quíeres ejercer una chambita?
                        </label>
                    </p>
                </div>
            </div>

        </div>

        <!-- ---------- ¿QUE ES? ---------- -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center py-4">

            <i class="material-icons icon-desc">
                supervisor_account
            </i>

            <div class="row pt-4 pb-5">
                <div class="col-12 text-center">
                    <h5 class="pt-4 font-weight-bold">
                        Tu chambita es
                    </h5>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-justify">
                    <p class="text-secondary">
                        Una plataforma digital que busca conectar usuarios que sepan realizar un trabajo específico con usuarios que estén dispuesto a pagar por ello.
                    </p>
                </div>
            </div>

        </div>

        <!-- ---------- ¿NO TIENES TIEMPO DE HACER UN TRABAJO? ---------- -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center py-4">

            <i class="material-icons icon-desc">
                work
            </i>

            <div class="row py-4">
                <div class="col-12 text-center">
                    <h5 class="pt-4 font-weight-bold">¿No tienes tiempo de hacer una chambita?</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text-secondary">
                        <label>
                            ¿Necesitas que te realicen una chambita?
                        </label>
                        <label>
                            ¿No quieres realizar una chambita?
                        </label>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- -------------------- SON COSA DEL PASADO -------------------- -->
<div class="parallax img-2">
    <!-- <div class="bg-transparent"> -->
    <div class="container pt-5">
        <div class="row m-0 pt-5 mt-5">

            <div class="col-12 m-auto text-center">

                <h1>Los clasificados son cosa del pasado</h1>

            </div>

        </div>
    </div>
    <!-- </div> -->
</div>


<!-- -------------------- CONÓCENOS -------------------- -->
<div id="conocenos" class="container py-5 text-center">

    <div class="row m-0">
        <div class="col-12 text-center py-4">

            <div class="row title-desc">
                <div class="col-12 text-center">
                    <h2 class="font-weight-bold">Conócenos</h2>
                    <hr>
                </div>
            </div>


        </div>

    </div>

    <iframe class="iframe" src="https://www.youtube-nocookie.com/embed/VMYzztiSO6k" frameborder="" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


<!-- -------------------- PATROCINADORES -------------------- -->
<div class="container py-5 text-center">

    <div class="row m-0">
        <div class="col-12 text-center py-4">

            <div class="row title-desc">
                <div class="col-12 text-center">
                    <h2 class="font-weight-bold">Patrocinadores</h2>
                    <hr>
                </div>
            </div>
        </div>

        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4 text-center m-auto px-4">
            <img title="Krusty Lab" class="img-fluid" src="./assets/img/patrocinadores/krusty.png" alt="">
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4 text-center m-auto px-4">
            <a title="Codesur" href="http://codesur.mx" target="_blank">
                <img class="img-fluid" src="./assets/img/patrocinadores/codesur.jpeg" alt="">
            </a>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4 text-center m-auto px-4">
            <img title="Casa Montoya" class="img-fluid" src="./assets/img/patrocinadores/casaMontoya.png" alt="">
        </div>
        <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4 text-center m-auto px-4">
            <img class="img-fluid" src="./assets/img/patrocinadores/1.png" alt="">
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4 text-center m-auto px-4">
            <img class="img-fluid" src="./assets/img/patrocinadores/1.png" alt="">
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-4 text-center m-auto px-4">
            <img class="img-fluid" src="./assets/img/patrocinadores/1.png" alt="">
        </div> -->

    </div>
</div>


<!-- -------------------- CONTÁCTO -------------------- -->
<div id="contacto" class="container">
    <div class="row m-0">

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 text-center font-weight-bold">
            <h3>Síguenos</h3>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-lg-left text-center">
            <a title="Facebook" class="px-3 text-center" target="_blank" href="https://facebook.com/TuChambitaMX">
                <i class="fab fa-facebook-square text-dark icon-social scale"></i>
            </a>
            <a title="Instragram" class="px-3 text-center" target="_blank" href="https://www.instagram.com/tuchambitamx">
                <i class="fab fa-instagram text-dark icon-social scale"></i>
            </a>
            <small>media@tuchambita.com</small>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div><small class="terminos pointer" (click)="terminosYPoliticas('terminos')">Términos y
                    condiciones.</small></div>
            <div><small class="terminos pointer" (click)="terminosYPoliticas('politicas')">Políticas.</small></div>
        </div>

        <div class="col-12 text-center font-weight-bold pt-5">
            <small>©Tu Chambita 2019.</small>
        </div>

    </div>
</div>