.parallax {
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-1 {
    background-image: url("../assets/fondos/plaza-de-armas.jpg");
    height: 500px;
    background-position: bottom;
}

.img-2 {
    background-image: url("../assets/fondos/villahermosa.jpg");
    height: 300px;
    background-position: bottom;
}

.img-3 {
    background-image: url("../assets/fondos/Centro-Historico-Villahermosa.jpg");
    height: 400px;
    background-position: top;
}

.pointer {
    cursor: pointer;
}

.pointer:hover {
    width: 78% !important;
}

.chambita-navbar {
    position: fixed !important;
}

.espacio {
    height: 67px;
}

.icon-desc {
    font-size: 3.5rem;
}

.icon-social {
    font-size: 2.5rem;
    transition: all .2s ease-in-out;
}

.icon-social:hover {
    transform: scale(1.1);
}

.icon-patron {
    width: 5rem;
    height: 5rem;
}

.title-desc {
    height: 80px;
}

.bg-transparent {
    background-color: #0000007a !important;
    height: 100%;
    ;
}