/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Lobster;
    src: url(./assets/fonts/Lobster-Regular.ttf) format("truetype");
}

@import '~material-design-icons/iconfont/material-icons.css';


.chambitaFont {
    font-family: Lobster;
}

.bg-azulChambita {
    background-color: #42d5ff;
}